<section class="card">
  <a href="/post/{{id}}">
    <header>{{title}}</header>
    <p>{{content}}</p>
    <p>Posted on {{date_created}}</p>
  </a>
  <a href="/edit_post/{{id}}"><button class="btn btn-primary" data-id="{{id}}">edit</button></a>
<button class="btn btn-primary delete-post" data-id="{{id}}">delete</button>
</section>
