<section class="container">
  <!-- Was trying to find a way to get the URL with the post id so it can link to the comment -->
  <p class="post-id">{{post_id}}</p>
  <!-- Attempting to use #if causes issues in getting the post id because the element is hidden -->
  <section class="card">
    <header>{{post.title}}</header>
    <p>{{post.content}}</p>
    <h3>Posted on {{post.date_created}} by {{post.user.username}}</h3>
  </section>
  <h3>Comment Section: </h3>
  <section class="flex-row justify-center">
    {{#each post.comments as |comment|}}
    {{> comment_details}}
    {{/each}}
  </section>
  <!-- If the user is logged in, render the comment box -->
  {{#if logged_in}}
  <section>
    <div class="row justify-center">
      <div class="login-card">
        <h2 class="page-title">New Comment</h2>
        <form class="form new-comment-form">
          <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-input" type="text" id="comment"></textarea>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Comment</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</section>

<script src="../js/comment.js"></script>
<!-- Otherwise, provide a link to login -->
{{else}}
<a href="/login">You must login first to comment</a>
{{/if}}
