<section class="container">
  <p class="post-id">{{#if hide}}{{post_id}}{{/if}}</p>
  <section class="card">
  <header>{{post.title}}</header>
  <p>{{post.content}}</p>
  <h3>Posted on {{post.date_created}} by {{post.user.username}}</h3>
  </section>
  <!-- If the user is logged in, render the gallery content -->
  <h3>Comment Section: </h3>
  <section class="flex-row justify-center">
    {{#each post.comments as |comment|}}
    {{> comment_details}}
    {{/each}}
  </section>
  {{#if logged_in}}
  <section>
    <div class="row justify-center">
      <div class="login-card">
        <h2 class="page-title">New Comment</h2>
        <form class="form new-comment-form">
          <div class="form-group">
            <label for="comment">Comment:</label>
            <input class="form-input" type="text" id="comment" />
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Comment</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</section>
<script src="../js/comment.js"></script>
<!-- Otherwise, provide a link to login -->
{{else}}
<a href="/login">You must login first to comment</a>
{{/if}}
